name: Update README
on:
    workflow_dispatch:
    schedule:
    	- cron: 0 0 * * *
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: kodieupton/readme-stats@main
        with:
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
